<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzGlwxdZoenXCHeXTjeKUZoyr7YN7jnRY</string>
	<key>GCM_SENDER_ID</key>
	<string>133342272401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spinWin</string>
	<key>PROJECT_ID</key>
	<string>spinwin-b58be</string>
	<key>STORAGE_BUCKET</key>
	<string>spinwin-b58be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133342272401:ios:41149b6143511c46d65830</string>
</dict>
</plist>